* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #F7DD43;
  --card-title-border-color: #746615;
  --card-border-in-color: #323238;
  --card-text-color: #E1E1E6;
  --group-text-color: #E1E1E6;
  --team-text-color: #161618;
  --card-bg-color: hsla(45, 7%, 11%, 0.825);
  --group-bg-color: rgba(217, 217, 217, 0.856);
  --group-bg-text-color: rgba(89, 87, 87, 0.773);
  --body-color-background: hsla(240, 5%, 7%, 0.863);
  --color-violet: #6F0626;
  --shadow: 4px 5px 18px rgb(22 20 20 / 89%);
  --shadow-colors: 4px 4px 12px rgb(22 20 20 / 89%);
  --footer-bg: #6f0625f3;
}

/* .colors {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 32px;
}

.colors h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.colors div {
  width: 3rem;
  height: 2rem;
  border-radius: 12px;
} */

/* #btn-red {
  font-weight: 100;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  background-color: #6F0626;
  box-shadow: 1px 1px 10px hsla(0, 0%, 85%, 0.792);
}

#btn-blue {
  font-weight: 100;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  background-color: hsla(229, 90%, 23%, 0.918);
  box-shadow: 1px 1px 10px hsla(0, 0%, 85%, 0.792);
}

#btn-green {
  font-weight: 100;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  background-color: #047C3F;
  box-shadow: 1px 1px 10px hsla(0, 0%, 85%, 0.792);
}

#btn-yellow {
  font-weight: 100;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  background-color: hsl(56, 85%, 48%);
  box-shadow: 1px 1px 10px hsla(0, 0%, 85%, 0.792);
} */


/* 
body.blue {
  --card-color-primary: #338AF3;
  --card-title-border-color: #338AF3;
  --card-bg-color: hsl(240, 6%, 13%, 0.825);
  --group-bg-text-color: hsla(229, 90%, 23%, 0.918);
  --shadow-colors: 4px 4px 12px hsla(229, 74%, 43%, 0.918);
  --bg: url(../assets/bg/bg-blue.svg);
}

body.green {
  --card-color-primary: #047C3F;
  --card-title-border-color: #047C3F;
  --card-bg-color: hsl(132, 9%, 11%, 0.825);
  --group-bg-text-color: hsla(150, 94%, 25%, 0.918);
  --shadow-colors: 6px 6px 12px hsla(150, 90%, 35%, 0.918);
  --bg: url(../assets/bg/bg-green.svg);
}

body.yellow {
  --card-color-primary: hsl(56, 71%, 41%);
  --card-title-border-color: #bca41e;
  --card-bg-color: hsl(240, 6%, 13%, 0.825);
  --group-bg-text-color: hsla(56, 85%, 48%, 0.811);
  --shadow-colors: 4px 4px 12px hsla(56, 85%, 39%, 0.878);
  --bg: url(../assets/bg/bg-yellow.svg);
} */

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  --card-color-primary: #6F0626;
  --card-title-border-color: #6F0626;
  --card-bg-color: rgba(31, 31, 35, 0.935);
  --group-bg-text-color: hsla(342, 90%, 23%, 0.918);
  --shadow-colors: 4px 4px 12px hsla(344, 9%, 32%, 0.918);
}

.gradient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(50deg, #590A27, #730D32, #ac2626, #730D32, #e1504e);
  background-size: 300% 100%;
  animation: colors 7s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--team-text-color);
  text-transform: uppercase;
  font-weight: 500;
}

/* APP - CENTRALIZADO 100% DE ALTURA */
#app {
  margin: auto;
  padding-bottom: 50px;
}

#navigation-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:16px;
  align-items: center;
  text-align: center;
  padding: 16px;
  background: linear-gradient(149deg, #eac9c9, #7a636b, #676767);
  border-radius: 0 0 30px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(30, 27, 27);
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.679);
}

header {
  margin: 32px 0;
  text-align: center;
}

/* MENU DE OPÇÕES */

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 32px;
  gap: 32px;
}

#menu-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#menu-options li {
  display: flex;
  flex-direction: row;
  width: 200px;
  gap: 10px;
  background-color: rgb(34, 34, 34);
  padding: 10px 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(105, 84, 84, 0.821);
}

#menu-options h3,
#menu-options li {
  color: rgb(214, 214, 214);
}

#menu span {
  background-color: #2b1d1dd3;
  color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
}

#menu-teams {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#menu-teams li {
  display: flex;
  width: 200px;
  gap: 10px;
  background-color: var(--group-bg-color);
  margin-bottom: 16px;
  padding-right: 12px;
  border-radius: 19px;
  align-items: center;
  box-shadow: 3px 3px 10px rgb(64, 15, 15);
}

.bg-teams {
  transition: 0.6s;
  border-radius: 19px;
}

.bg-teams:hover {
  transform: scale(1.1);
}

#menu-teams img {
  width: 41px;
  height: 41px;
  z-index: 100;
}

/* Animações menus */

#menu-options li:hover {
  background-color: rgb(51, 51, 51);
}


/* GRUPOS */

#groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
  gap: 32px;
}

.group {
  padding: 32px 23px;
  text-align: center;
  width: 300px;
  align-items: stretch;
  background-color: var(--group-bg-color);
  border-radius: 24px;
  box-shadow: var(--shadow-colors);
}

.group img {
  width: 45px;
  height: 45px;
}

.group h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  gap: 16px;
  padding: 8px 16px;
  background-color: var(--group-bg-text-color);
  border-radius: 12px;
  margin-bottom: 32px;
  color: var(--group-text-color);
  text-shadow: 2px 2px 7px hsla(240, 5%, 7%, 0.896);
  text-transform: uppercase;
  font-size: 1.4rem;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.725);
}

.group span {
  color: var(--team-text-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px hsla(240, 7%, 79%, 0.792);
}

.group ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.group ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 24px;
}

.group span:hover,
.group img:hover {
  transform: scale(1.2);
}

.group span,
.group img {
  transition: transform 0.5s;
}


/* CARDS DE JOGOS */

/* .times {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: -15px 0 0 2px;
  color: white;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
} */


#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  align-items: stretch;
  padding: 32px 23px;
  text-align: center;
  background-color: var(--card-bg-color);
  border-radius: 24px;
  box-shadow: var(--shadow-colors);
}

.card img {
  width: 45px;
  height: 45px;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  gap: 16px;
  padding: 8px 16px;
  border: 3px solid var(--card-title-border-color);
  border-radius: 12px;
  margin-bottom: 16px;
  color: #F7DD43;
}

.card h2 span {
  color: var(--card-text-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card ul li+li {
  padding-top: 16px;
  border-top: 2px solid var(--card-border-in-color);
}


.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.info-game {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  color: rgb(206, 206, 206);
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.placar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placar span {
  color: rgb(96, 95, 95);
  font-size: 18px;
}

.placar strong {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: #E1E1E6;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  z-index: 1000;
  color: black;
  font-size: 0.8rem;
  background: linear-gradient(180deg, #880334, #690128, #310116);
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.footer a {
  color: rgb(212, 207, 207);
  text-transform: none;
  transition: .5s;
}

.footer a:hover {
  color: rgb(255, 255, 255);
}

/* STYLES TEAMS PAGS */

#group-a,
#group-b,
#group-c,
#group-d,
#group-e,
#group-f,
#group-g,
#group-h {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  gap: 32px;
}

#cards-qatar,
#cards-ecuador,
#cards-senegal,
#cards-netherlands,
#cards-england,
#cards-iran,
#cards-united-states,
#cards-wales,
#cards-argentina,
#cards-saudi-arabia,
#cards-mexico,
#cards-poland,
#cards-france,
#cards-denmark,
#cards-tunisia,
#cards-australia,
#cards-spain,
#cards-germany,
#cards-japan,
#cards-costa-rica,
#cards-belgium,
#cards-canada,
#cards-morocco,
#cards-croatia,
#cards-brazil,
#cards-serbia,
#cards-switzerland,
#cards-cameroon,
#cards-portugal,
#cards-ghana,
#cards-uruguay,
#cards-south-korea {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


/* MEDIA */

/* @media (min-width: 500px) {
  .footer {
    flex-direction: row;
  }
} */

@media (min-width: 700px) {


  #menu-options {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  #menu-options li {
    width: 200px;
  }


  #menu-teams {
    max-width: 1200px;
    padding: 0 40px 50px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  #menu-teams li {
    margin-bottom: 0px;
    width: 220px;
  }

  #groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 32px 32px;
  }

  #cards,
  #cards-qatar,
  #cards-netherlands,
  #cards-senegal,
  #cards-ecuador,
  #cards-england,
  #cards-iran,
  #cards-united-states,
  #cards-wales,
  #cards-argentina,
  #cards-saudi-arabia,
  #cards-mexico,
  #cards-poland,
  #cards-france,
  #cards-denmark,
  #cards-tunisia,
  #cards-australia,
  #cards-spain,
  #cards-germany,
  #cards-japan,
  #cards-costa-rica,
  #cards-belgium,
  #cards-canada,
  #cards-morocco,
  #cards-croatia,
  #cards-brazil,
  #cards-serbia,
  #cards-switzerland,
  #cards-cameroon,
  #cards-portugal,
  #cards-ghana,
  #cards-uruguay,
  #cards-south-korea {
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 32px 32px;
  }

  #group-a,
  #group-b,
  #group-c,
  #group-d,
  #group-e,
  #group-f,
  #group-g,
  #group-h {
    margin-top: 0;
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 32px 32px;
  }
}